{% if request.page_type == 'index' %}
{%- capture dhseo_meta_title -%}
{{ page_title }} | {{ shop.name }}
{%- endcapture -%}
{% endif %}
{% if dhseo_meta_title %}
{%- assign dhseo_title = dhseo_meta_title | strip_html | strip -%}
<title>{{ dhseo_title | strip }}</title>
{% endif %}
