
<div style="text-align: center;padding: 10px 0;">
  <a href="https://tiny-img.com" target="_blank" style="text-decoration: none;font-size: 10px;color: #000000;">
    <img src="https://image-optimizer.salessquad.co.uk/images/icons/tinyimg-small-icon.svg" style="vertical-align:middle;margin-right:7px;"/> Speed optimized by TinyIMG
  </a>
</div>